<%- include("partials/head.ejs") %>
<%- include("partials/header.ejs") %>
<h2><%= book ? 'Edit Book' : 'Add Book' %></h2>

<form method="POST" action="<%= book ? '/books/update/' + book.id : '/books' %>">
        <input type="hidden" name="_csrf" value="<%= _csrf %>">


    <div>
        <label for="title">Title:</label>
        <input type="text" id="title" name="title" value="<%= book ? book.title : '' %>"/>
    </div>
     <div>
        <label for="author">Author:</label>
        <input type="text" id="author" name="author" value="<%= book ? book.author : '' %>"/>
    </div>
    <div>
        <label for="price">Price:</label>
        <input type="number" id="price" name="price" value="<%= book ? book.price : '' %>"/>
    </div>
    <div>
        <label for="genres">Genres:</label>
        <select id="genres" name="genres">
            <option value="fiction" <%= book && book.genres === 'fiction' ? 'selected' : '' %>>Fiction</option>
            <option value="non-fiction" <%= book && book.genres === 'non-fiction' ? 'selected' : '' %>>Non-Fiction</option>
            <option value="childrens" <%= book && book.genres === 'childrens' ? 'selected' : '' %>>Childrens</option>
            <option value="sports" <%= book && book.genres === 'sports' ? 'selected' : '' %>>Sports</option>
        </select>
    </div>
    <button type="submit"><%= book ? 'Update' : 'Add' %></button>
    <a href="/books">
        <button type="button">cancel</button>
    </a>
</form>
<%- include("partials/footer.ejs") %>